// Colors

$color-primary: #222831;
$color-primary-light: #31363f;
$color-primary-dark: #2e3138;

$color-secondary-light: #76abae;
$color-secondary-dark: #64898b;

$color-tertiary-light: #968d8d;
$color-tertiary-dark: #615d5d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-black: #000;
$color-white: #fff;
$color-gray: #777;

// Fonts

$default-font-size: 1.8rem;

$flex-width: 170rem;
$gap: 7rem;
