.footer {
  background-color: #333;
  padding: 8rem 0;
  color: $color-grey-light-1;

  &__logo {
    width: 15rem;
    height: auto;
    margin: 0 auto;
  }

  &__container {
    @include flex-row;
    text-align: start;
    gap: 34rem;

    &--nav {
      border-top: 1px solid $color-gray;
      padding-top: 3rem;
      .list {
        list-style-type: none;
        display: flex;
        gap: 2rem;
        flex-wrap: nowrap;
      }
      .link {
        text-wrap: nowrap;
        text-decoration: none;
        font-size: 1.8rem;
        color: $color-grey-light-1;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &__copyright {
    font-size: $default-font-size;
    border-top: 1px solid $color-gray;
    padding-top: 3rem;

    .link {
      text-wrap: nowrap;
      text-decoration: none;
      font-size: 1.8rem;
      color: $color-grey-light-1;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
