.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 6rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &__white {
    background-color: $color-white;
    color: $color-gray;
    &::after {
      background-color: $color-white;
    }
  }

  &__green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &__animated {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
}

.btn-learn-more {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1.5px solid $color-primary;
    padding: 5px;
    transition: all 0.2s;
    position: relative;
    background-color: transparent;
    overflow: hidden;
  }

  &::before {
    @include btn-before($color-primary);
    top: 110%;
    left: -10px;
  }

  &:hover {
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);

    &::before {
      transform: translateY(-100%);
    }
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
}

.btn__colorful {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    background-color: $color-white;
    overflow: hidden;
  }
  &::before {
    @include btn-before($color-primary-light);
    top: 0;
    right: 100%;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateX(-2px);
    color: $color-white;

    &::before {
      transform: translateX(100%);
    }
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
